body {
  margin: 0;
}
.card {
  list-style: none;
  display: flex;
  margin: 0 50px;
  padding: 0;
  justify-content: space-between;
  top: 50%;
  transform: translateY(50%);
  .card-item {
    width: 250px;
    text-align: center;
  }
  .card-item img {
    width: 250px;
    height: 280px;
  }
}

h1 {
  font-size: 22px;
}
p {
  font-size: 14px;
}