.btn {
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  padding: 20px 50px;
  // border-image: linear-gradient(90deg, rgba(255, 151, 29, 1) 3%, rgba(238, 148, 37, 1) 19%, rgba(233, 94, 52, 1) 33%, rgba(154, 39, 238, 1) 47% 60%);
  border-image: url("https://www.infocrest.co.jp/ykxbdgs5qgq3/uploads/2019/10/blog_m02_2.jpg");
  border-width: 10px;
}